@font-face {
    font-family: MR;
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: MSB;
    src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: MB;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: ML;
    src: url(../fonts/Montserrat-Light.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: MBL;
    src: url(../fonts/Montserrat-Black.ttf) format("truetype");
    font-weight: 900;
}


